.section__header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	width: 100%;
	padding: 0;
	background: transparent;
	z-index: 9999;
	min-height: vw(110);
	box-sizing: border-box;
	border-bottom: 1px solid #000000;
	@include max(sm) {
		display: none;
	}
	.container {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-left: 80px;
		padding-right: 80px;
		max-width: 1920px;
		overflow: visible;
		@include max(xl) {
			padding-left: 40px;
			padding-right: 40px;
		}
		@include max(lg) {
			//1024
			width: 1168px;
			max-width: calc(100% - 32px * 2);
			padding-left: 0px;
			padding-right: 0px;
		}
	
		@include max(mdHeader) {
			max-width: calc(100% - 32px * 2);
		}
	
		@include max(sm) {
			max-width: calc(100% - 16px * 2);
		}
	}
}

.header {
	&__logo {
		display: flex;
		position: relative;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		width: vw(110);
		margin-left: auto;
		margin-right: auto;
		img {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}	
	}
}



