extends layouts/default
include helpers/mixins

block variables
	- const title = "Project title"

block content
	.city-style
		.city-style__top
			.city-style__list
				.city-style__list__title 
					!="Городской Стиль"
				.city-style__list__subtitle Какой он у вас?
			picture.city-style__picture
				source(media="(max-width: 800px)", srcset="img/city-style__picture__1--mob.png")
				img(src="img/city-style__picture__1.png", alt="picture")
			
			.city-style__row 
				<svg xmlns="http://www.w3.org/2000/svg" width="12" height="28" viewBox="0 0 12 28" fill="none">
				<path d="M6 28L11.7735 18L0.226496 18L6 28ZM5 -4.37114e-08L5 19L7 19L7 4.37114e-08L5 -4.37114e-08Z" fill="#B1B1B1"/>
				</svg>	
		.city-style__bottom
			.city-style__desc
				.city-style__desc__text
					!="В ритме города важно не только жить, но и наряжаться. Нам ли объяснять, какую колоссальную роль играет гардероб в построении имиджа, реализации любых амбиций, во время случайных знакомств и просто в ежедневном комфорте?"
				.city-style__desc__text
					!="Более того, как любая столица мира делится на районы и зоны с определенным вайбом и типичными обитателями, так и городской стиль стал дробиться на подвиды. К какому из них принадлежите вы? Вместе с брендом Geox мы создали портреты модных героинь большого города. С ними легко ассоциировать себя, проводить параллели и… заимствовать гардероб."
				.city-style__desc__text
					!="<span>Бонус! Тест, который поможет подобрать правильный образ и выбрать обувь по настроению, темпераменту и (или) стилю жизни.</span>"
			.city-style__bottom__bg
	.trendy-style
		.trendy-style__title ТРЕНДИ
		.trendy-style__card
			picture.trendy-style__picture
				source(media="(max-width: 800px)", srcset="img/trendy-style__picture--mob.png")
				img(src="img/trendy-style__picture.png", alt="picture")
		.trendy-style__desc
			.trendy-style__desc__text
				!="Особая примета настоящей тренди-девушки — она всегда начинает составление образа с обуви! А уже потом выстраивает вокруг весь свой аутфит. Отправной точкой у этой горожанки стали высокие рокерские ботинки на шнуровке Geox. Их можно использовать по прямому назначению — с кожаными куртками и джинсами. А можно сочетать с неочевидными шоколадными легинсами и крутой функциональной паркой, намекнув на активную жизненную позицию и страсть к приключениям."
		.trendy-style__bg
	.officecore
		.officecore__title OFFICECORE
		.officecore__card
			picture.officecore__picture
				source(media="(max-width: 800px)", srcset="img/officecore--mob.png")
				img(src="img/officecore.png", alt="picture")
		.officecore__desc
			.officecore__desc__text
				!="Прошедшие Недели моды доказали: дизайнеры во всем мире активно собирают женщину на работу. Сотрудники банков или жертвы строгих офисных дресс-кодов могут чуть расслабиться: officecore в тренде. Широкоплечие жакеты будто из гардероба босса, юбки-карандаши с деликатными разрезами и широкими потертыми ремнями и шелковые блузы карамельных оттенков — все это выглядит уместно не только в рабочем опен-спейсе и на конференциях, но и на модной вечеринке. Отмечать повышение можно покупкой минималистского серого пальто (главный тренд в верхней одежде) и лоферов."
			.officecore__desc__text
				!="Эта горожанка построила деловой образ вокруг платья-рубашки. А чтобы не выглядеть в нем как после отпуска — застегнула верх на все пуговицы и дополнила платье галстуком: микротренд и самый горячий аксессуар сезона, если верить Кайе Гербер, российским инфлюенсерам и бренду Geox."
		.officecore__bg
	
	.sport-style
		.sport-style__title СПОРТИ & ШИК
		.sport-style__card
			picture.sport-style__picture
				source(media="(max-width: 800px)", srcset="img/sport-style--mob.png")
				img(src="img/sport-style.png", alt="picture")
		.sport-style__desc
			.sport-style__desc__text
				!="Прошедшие Недели моды доказали: дизайнеры во всем мире активно собирают женщину на работу. Сотрудники банков или жертвы строгих офисных дресс-кодов могут чуть расслабиться: officecore в тренде. Широкоплечие жакеты будто из гардероба босса, юбки-карандаши с деликатными разрезами и широкими потертыми ремнями и шелковые блузы карамельных оттенков — все это выглядит уместно не только в рабочем опен-спейсе и на конференциях, но и на модной вечеринке. Отмечать повышение можно покупкой минималистского серого пальто (главный тренд в верхней одежде) и лоферов."
			.sport-style__desc__text
				!="Эта горожанка построила деловой образ вокруг платья-рубашки. А чтобы не выглядеть в нем как после отпуска — застегнула верх на все пуговицы и дополнила платье галстуком: микротренд и самый горячий аксессуар сезона, если верить Кайе Гербер, российским инфлюенсерам и бренду Geox."
		.sport-style__bg
			<svg width="198" height="132" viewBox="0 0 198 132" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="65.8531" cy="65.8531" r="46.1635" transform="rotate(144.136 65.8531 65.8531)" stroke="#337E88" stroke-opacity="0.2" stroke-width="2"/>
			<circle cx="98.6734" cy="65.8531" r="46.1635" transform="rotate(144.136 98.6734 65.8531)" stroke="#337E88" stroke-opacity="0.2" stroke-width="2"/>
			<circle cx="131.496" cy="65.8531" r="46.1635" transform="rotate(144.136 131.496 65.8531)" stroke="#337E88" stroke-opacity="0.2" stroke-width="2"/>
			</svg>
	.test
		.test__top
			.test__top__title.title Тест:
			.test__top__subtitle.title Подбери идеальный образ подсвой стиль жизни на осень 2023
			.test__top__arrow
				<svg xmlns="http://www.w3.org/2000/svg" width="12" height="28" viewBox="0 0 12 28" fill="none">
				<path d="M6 28L11.7735 18L0.226496 18L6 28ZM5 -4.37114e-08L5 19L7 19L7 4.37114e-08L5 -4.37114e-08Z" fill="#337E88"/>
				</svg>
		.swiper-container.test__slider.js-test__slider
			.swiper-wrapper
				.swiper-slide
					.test__question.test__question__1
						picture.test__question__picture
							source(media="(max-width: 800px)", srcset="img/question__picture__1--mob.png")
							img(src="img/question__picture__1.png", alt="picture")
							.test__question__numb
								<svg width="140" height="85" viewBox="0 0 140 85" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.575586 41.72C0.575586 14.22 17.7356 1.79 35.8856 1.68C54.1456 1.79 71.3056 14.22 71.3056 41.72C71.3056 69.77 54.1456 81.65 35.8856 81.76C17.7356 81.65 0.575586 69.77 0.575586 41.72ZM35.8856 3.22C22.7956 3.22 11.3556 10.37 11.3556 41.72C11.3556 73.51 22.7956 80.22 35.8856 80.22C49.0856 80.22 60.6356 73.29 60.6356 41.72C60.6356 10.37 49.0856 3.22 35.8856 3.22ZM80.0936 59.21L78.4436 58.33C78.6636 58 95.0536 26.87 95.0536 3.33H105.504V80H95.0536V18.73C90.6536 38.97 80.2036 58.88 80.0936 59.21ZM139.292 0.359996L112.782 84.51H111.022L137.532 0.359996H139.292Z" fill="#535454" fill-opacity="0.1"/>
								</svg>
						.test__question__list
							.test__question__list__title.title Вы работаете
							.test__question__list__items
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-1" name="answer" value="1">
										<label for="answer-1">в креативной сфере</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-2" name="answer" value="2">
										<label for="answer-2">в компании с дресс-кодом</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-3" name="answer" value="3">
										<label for="answer-3">там, где лояльны к любому индивидуальному стилю</label>
									</div>
					
				.swiper-slide
					.test__question.test__question--left.test__question__2
						picture.test__question__picture
							source(media="(max-width: 800px)", srcset="img/question__picture__2--mob.png")
							img(src="img/question__picture__2.png", alt="picture")
						.test__question__numb
							<svg width="187" height="92" viewBox="0 0 187 92" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.895313 45.24C0.895313 15.24 19.6153 1.68 39.4153 1.56C59.3353 1.68 78.0553 15.24 78.0553 45.24C78.0553 75.84 59.3353 88.8 39.4153 88.92C19.6153 88.8 0.895313 75.84 0.895313 45.24ZM39.4153 3.24C25.1353 3.24 12.6553 11.04 12.6553 45.24C12.6553 79.92 25.1353 87.24 39.4153 87.24C53.8153 87.24 66.4153 79.68 66.4153 45.24C66.4153 11.04 53.8153 3.24 39.4153 3.24ZM87.6422 27.72C87.6422 9.24 102.522 1.8 117.162 1.8C133.842 1.8 147.042 10.92 147.042 28.8C147.042 46.68 128.202 51.84 114.162 56.76C103.122 60.6 94.4822 63.6 91.3622 75.6H150.042V87H88.1222C88.1222 63.72 99.2822 59.76 113.562 54.84C127.842 49.92 135.282 45.96 135.282 28.8C135.282 11.16 127.002 3.36 117.162 3.36C101.922 3.36 100.122 18 100.122 29.4L87.6422 27.72ZM186.324 0.119996L157.404 91.92H155.484L184.404 0.119996H186.324Z" fill="#535454" fill-opacity="0.1"/>
							</svg>
						.test__question__list
							.test__question__list__title.title Поступило неожиданное предложение встретиться день-в-день. Вы
							.test__question__list__items
								.test__question__list__item
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-4" name="answer__1" value="1">
										<label for="answer-4">в креативной сфере</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-5" name="answer__1" value="2">
										<label for="answer-5">в компании с дресс-кодом</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-6" name="answer__1" value="3">
										<label for="answer-6">там, где лояльны к любому индивидуальному стилю</label>
									</div>
					
				.swiper-slide
					.test__question.test__question__3
						picture.test__question__picture
							source(media="(max-width: 800px)", srcset="img/question__picture__3--mob.png")
							img(src="img/question__picture__3.png", alt="picture")
						.test__question__numb
							<svg width="176" height="85" viewBox="0 0 176 85" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.367578 41.72C0.367578 14.22 17.5276 1.79 35.6776 1.68C53.9376 1.79 71.0976 14.22 71.0976 41.72C71.0976 69.77 53.9376 81.65 35.6776 81.76C17.5276 81.65 0.367578 69.77 0.367578 41.72ZM35.6776 3.22C22.5876 3.22 11.1476 10.37 11.1476 41.72C11.1476 73.51 22.5876 80.22 35.6776 80.22C48.8776 80.22 60.4276 73.29 60.4276 41.72C60.4276 10.37 48.8776 3.22 35.6776 3.22ZM78.2355 67.57L79.6655 66.91C86.4855 76.48 97.1555 80.22 105.516 80.22C125.316 80.22 130.046 72.85 130.046 58.55C130.046 44.69 123.006 39.3 106.946 39.3H101.336V37.87C115.086 37.87 125.096 37.87 125.096 20.82C125.096 7.73 121.136 3.22 107.496 3.22C91.2155 3.22 90.7755 16.75 90.7755 27.2L79.7755 24.23C79.7755 8.5 94.2955 1.79 107.496 1.79C124.326 1.79 136.866 5.86 136.866 20.82C136.866 32.37 128.506 36.66 119.596 38.31C132.576 38.31 142.806 45.79 142.806 58.55C142.806 74.94 132.136 81.76 105.516 81.76C96.9355 81.76 84.8355 77.91 78.2355 67.57ZM175.5 0.359996L148.99 84.51H147.23L173.74 0.359996H175.5Z" fill="#535454" fill-opacity="0.1"/>
							</svg>
						.test__question__list
							.test__question__list__title.title Новые знакомства случаются в вашей жизни
							.test__question__list__items
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-7" name="answer__3" value="1">
										<label for="answer-7">почти каждый день</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-8" name="answer__3" value="2">
										<label for="answer-8">почти каждый месяц</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-9" name="answer__3" value="3">
										<label for="answer-9">почти никогда</label>
									</div>
					
				.swiper-slide
					.test__question.test__question--left.test__question__4
						picture.test__question__picture
							source(media="(max-width: 800px)", srcset="img/question__picture__4.png")
							img(src="img/question__picture__4.png", alt="picture")
						.test__question__numb
							<svg width="184" height="92" viewBox="0 0 184 92" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.00859377 45.24C0.00859377 15.24 18.7286 1.68 38.5286 1.56C58.4486 1.68 77.1686 15.24 77.1686 45.24C77.1686 75.84 58.4486 88.8 38.5286 88.92C18.7286 88.8 0.00859377 75.84 0.00859377 45.24ZM38.5286 3.24C24.2486 3.24 11.7686 11.04 11.7686 45.24C11.7686 79.92 24.2486 87.24 38.5286 87.24C52.9286 87.24 65.5286 79.68 65.5286 45.24C65.5286 11.04 52.9286 3.24 38.5286 3.24ZM129.235 73.32H84.9555V71.4C89.5155 71.4 100.435 60.24 110.755 45C119.635 31.92 129.235 14.04 129.235 3.36H140.635V71.4H149.995V73.32H140.635V87H129.235V73.32ZM89.9955 71.4H129.235V13.92C123.835 30.24 104.395 61.8 89.9955 71.4ZM183.211 0.119996L154.291 91.92H152.371L181.291 0.119996H183.211Z" fill="#535454" fill-opacity="0.1"/>
							</svg>
						.test__question__list
							.test__question__list__title.title При выборе обуви вы на первое место ставите
							.test__question__list__items
								.test__question__list__item
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-10" name="answer__4" value="1">
										<label for="answer-10">дизайн</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-11" name="answer__4" value="2">
										<label for="answer-11">цену</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-12" name="answer__4" value="3">
										<label for="answer-12">комфорт</label>
									</div>
					
				.swiper-slide
					.test__question.test__question__5
						picture.test__question__picture
							source(media="(max-width: 800px)", srcset="img/question__picture__5--mob.png")
							img(src="img/question__picture__5.png", alt="picture")
							.test__question__numb
								<svg width="168" height="85" viewBox="0 0 168 85" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.718164 41.72C0.718164 14.22 17.8782 1.79 36.0282 1.68C54.2882 1.79 71.4482 14.22 71.4482 41.72C71.4482 69.77 54.2882 81.65 36.0282 81.76C17.8782 81.65 0.718164 69.77 0.718164 41.72ZM36.0282 3.22C22.9382 3.22 11.4982 10.37 11.4982 41.72C11.4982 73.51 22.9382 80.22 36.0282 80.22C49.2282 80.22 60.7782 73.29 60.7782 41.72C60.7782 10.37 49.2282 3.22 36.0282 3.22ZM99.3761 81.65C90.0261 81.65 83.3161 79.01 80.2361 77.58L80.7861 76.04C83.7561 77.47 90.1361 80 99.3761 80C113.456 80 124.126 74.94 124.126 51.62C124.126 33.14 118.076 24.67 106.086 24.67C89.3661 24.67 86.1761 36.99 82.8761 50.41H81.0061L84.1961 3.33H130.726V13.67H85.2961L83.5361 41.06C87.6061 28.3 94.2061 23.02 105.976 23.02C122.036 23.02 135.016 33.03 135.016 51.62C135.016 76.15 117.526 81.65 99.3761 81.65ZM167.15 0.359996L140.64 84.51H138.88L165.39 0.359996H167.15Z" fill="#535454" fill-opacity="0.1"/>
								</svg>
						.test__question__list
							.test__question__list__title.title За трендами вы
							.test__question__list__items
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-13" name="answer__5" value="1">
										<label for="answer-13">следите и следуете</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-14" name="answer__5" value="2">
										<label for="answer-14">следите и выборочно добавляете актуальные детали</label>
									</div>
								.test__question__list__item 
									<div class="radio">
										<input class="custom-radio js-custom-radio" type="radio" id="answer-15" name="answer__5" value="3">
										<label for="answer-15">следите, но всегда выбираете собственную индивидуальность</label>
									</div>
					
				.swiper-slide
					.test__answer.test__answer__1
							.test__answer__top
								.test__answer__top__title
									!="Ваш стиль — <span>ТРЕНДИ<span>"
							.test__answer__bottom
								picture.test__answer__picture
									source(media="(max-width: 800px)", srcset="img/test__answer__picture__1--mob.png")
									img(src="img/test__answer__picture__1.png", alt="picture")
								.test__answer__list
									.test__answer__top__title
										!="Ваш стиль — <span>ТРЕНДИ<span>"
									.test__answer__list__text
										!="С мягкими зелеными брюками и тонким фисташковым свитером — на работу: будь то офис в Сити или коворкинг на открытом воздухе в Парке Горького."
									.test__answer__list__text
										!="Из обуви мы советуем присмотреться к этим меховым лоферам Geox (мы в них влюбились и тебе советуем!). После миллиона дел в таких ботинках вы всегда будете готовы с комфортом пройти несколько километров по любой погоде, а еще будете выглядеть уместно, если в последний момент получите заветное приглашение на ярмарку современного искусства"
																
									.btn.test__answer__list__button  пройти тест снова
							.test__answer__soc
								a(href="#").test__answer__soc__item
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="url(#paint0_linear_26_8)"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M27.168 16.662C27.2855 16.2804 27.168 16 26.6094 16H24.7617C24.2919 16 24.0753 16.2422 23.958 16.5095C23.958 16.5095 23.0182 18.742 21.6872 20.1923C21.2567 20.6121 21.061 20.7458 20.8259 20.7458C20.7086 20.7458 20.5386 20.6121 20.5386 20.2307V16.662C20.5386 16.2042 20.4021 16 20.0107 16H17.1069C16.8134 16 16.6367 16.2126 16.6367 16.4142C16.6367 16.8483 17.3023 16.9485 17.3709 18.1698V20.8221C17.3709 21.4037 17.2632 21.5094 17.0283 21.5094C16.4021 21.5094 14.8783 19.2666 13.9746 16.7005C13.7974 16.2016 13.6199 16.0002 13.1478 16.0002H11.3001C10.7721 16 10.6666 16.2422 10.6666 16.5093C10.6666 16.9864 11.2928 19.3526 13.5831 22.4821C15.1099 24.6191 17.261 25.7778 19.2186 25.7778C20.3929 25.7778 20.5384 25.5204 20.5384 25.0771V23.462C20.5384 22.9473 20.6497 22.8446 21.0216 22.8446C21.2956 22.8446 21.7653 22.978 22.8615 24.0084C24.1143 25.2297 24.3208 25.7776 25.0256 25.7776H26.8732C27.4009 25.7776 27.665 25.5202 27.5128 25.0126C27.3459 24.5064 26.7479 23.7721 25.9543 22.9019C25.5236 22.4058 24.8775 21.8714 24.6818 21.6042C24.4076 21.2608 24.4861 21.1082 24.6818 20.8027C24.6818 20.8027 26.9333 17.7115 27.168 16.662Z" fill="#337E88"/>
									<defs>
									<linearGradient id="paint0_linear_26_8" x1="20" y1="0" x2="20" y2="40" gradientUnits="userSpaceOnUse">
									<stop stop-color="#36838D" stop-opacity="0.68"/>
									<stop offset="1" stop-color="#D9D9D9" stop-opacity="0"/>
									</linearGradient>
									</defs>
									</svg>
								a(href="#").test__answer__soc__item
									<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
									<circle cx="20" cy="20" r="20" fill="url(#paint0_linear_4_4658)"/>
									<path d="M18.9722 23.5959C17.6613 23.4589 16.4788 23.1336 15.4668 22.3364C15.3409 22.2371 15.2108 22.1412 15.0969 22.0308C14.6534 21.6027 14.6089 21.1112 14.9599 20.606C15.2596 20.1728 15.7631 20.0572 16.2862 20.3063C16.3872 20.3534 16.4831 20.4142 16.5765 20.4784C18.4627 21.7833 21.0545 21.8193 22.9476 20.5375C23.136 20.392 23.3363 20.2738 23.5683 20.2139C24.0204 20.0974 24.4417 20.2644 24.684 20.6625C24.9614 21.1163 24.958 21.5616 24.6164 21.9135C24.0932 22.4555 23.463 22.8468 22.7635 23.1199C22.1016 23.3785 21.3764 23.5086 20.6598 23.5942C20.7677 23.7132 20.819 23.7715 20.8867 23.84C21.8602 24.8246 22.8388 25.8067 23.8098 26.7948C24.1403 27.1321 24.2097 27.5491 24.0273 27.9413C23.8278 28.3694 23.3825 28.6511 22.945 28.6211C22.6685 28.6014 22.4527 28.4627 22.26 28.2683C21.5254 27.5234 20.7771 26.7922 20.057 26.0336C19.8472 25.8127 19.7462 25.8546 19.5612 26.0464C18.8223 26.8128 18.0714 27.5671 17.3145 28.318C16.9755 28.6545 16.5713 28.7153 16.1775 28.5235C15.7596 28.318 15.4925 27.889 15.5139 27.4566C15.5276 27.1638 15.6706 26.9412 15.8701 26.7408C16.8342 25.7716 17.7949 24.7998 18.7564 23.8297C18.8198 23.7646 18.8797 23.6961 18.9722 23.5959Z" fill="#337E88"/>
									<path d="M19.7717 20.1769C17.4325 20.1684 15.5146 18.2162 15.5274 15.8565C15.5411 13.471 17.4607 11.5497 19.8231 11.5557C22.1896 11.5617 24.0896 13.5121 24.0785 15.9224C24.0656 18.277 22.1348 20.1847 19.7717 20.1769ZM21.8977 15.8616C21.8993 15.5859 21.8463 15.3125 21.7419 15.0573C21.6375 14.8021 21.4837 14.57 21.2893 14.3745C21.0949 14.1789 20.8638 14.0237 20.6093 13.9177C20.3547 13.8117 20.0817 13.7571 19.8059 13.757C19.5276 13.7567 19.252 13.8119 18.9952 13.9194C18.7385 14.0268 18.5057 14.1843 18.3105 14.3827C18.1152 14.5811 17.9615 14.8164 17.8583 15.0749C17.755 15.3334 17.7043 15.6098 17.7091 15.8881C17.7094 16.164 17.7643 16.4371 17.8706 16.6916C17.9768 16.9462 18.1324 17.1772 18.3284 17.3713C18.5243 17.5655 18.7567 17.719 19.0122 17.823C19.2677 17.927 19.5412 17.9795 19.8171 17.9773C20.0929 17.9763 20.3658 17.9207 20.62 17.8136C20.8743 17.7066 21.1047 17.5502 21.2982 17.3536C21.4916 17.1569 21.6442 16.9239 21.7471 16.668C21.85 16.4121 21.9012 16.1383 21.8977 15.8625V15.8616Z" fill="#337E88"/>
									<defs>
									<linearGradient id="paint0_linear_4_4658" x1="20" y1="0" x2="20" y2="40" gradientUnits="userSpaceOnUse">
									<stop stop-color="#36838D" stop-opacity="0.68"/>
									<stop offset="1" stop-color="#D9D9D9" stop-opacity="0"/>
									</linearGradient>
									</defs>
									</svg>
								a(href="#").test__answer__soc__item
					.test__answer.test__answer__2
							.test__answer__top
								.test__answer__top__title
									!="Ваш стиль — <span>OFFICECORE<span>"
							.test__answer__bottom
								picture.test__answer__picture
									source(media="(max-width: 800px)", srcset="img/test__answer__picture__2--mob.png")
									img(src="img/test__answer__picture__2.png", alt="picture")
								.test__answer__list
									.test__answer__top__title
										!="Ваш стиль — <span>OFFICECORE<span>"
									.test__answer__list__text
										!="Этой осенью попробуйте многослойность. Например, длинная дутая жилетка поверх жакета. У Geox все вещи «дружат друг с другом» и легко сочетаются — во многом благодаря спокойной цветовой гамме и фактурам. Это облегчает задачу нам, покупателям, у которых нет персональных стилистов."
									.test__answer__list__text
										!="Из обуви рекомендуем стиль 1970-х. Широкие устойчивые каблуки (как альтернатива спорной платформе) и благородная коричневая кожа. Лайк!"
																
									.btn.test__answer__list__button  пройти тест снова
							.test__answer__soc
								a(href="#").test__answer__soc__item
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="url(#paint0_linear_26_8)"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M27.168 16.662C27.2855 16.2804 27.168 16 26.6094 16H24.7617C24.2919 16 24.0753 16.2422 23.958 16.5095C23.958 16.5095 23.0182 18.742 21.6872 20.1923C21.2567 20.6121 21.061 20.7458 20.8259 20.7458C20.7086 20.7458 20.5386 20.6121 20.5386 20.2307V16.662C20.5386 16.2042 20.4021 16 20.0107 16H17.1069C16.8134 16 16.6367 16.2126 16.6367 16.4142C16.6367 16.8483 17.3023 16.9485 17.3709 18.1698V20.8221C17.3709 21.4037 17.2632 21.5094 17.0283 21.5094C16.4021 21.5094 14.8783 19.2666 13.9746 16.7005C13.7974 16.2016 13.6199 16.0002 13.1478 16.0002H11.3001C10.7721 16 10.6666 16.2422 10.6666 16.5093C10.6666 16.9864 11.2928 19.3526 13.5831 22.4821C15.1099 24.6191 17.261 25.7778 19.2186 25.7778C20.3929 25.7778 20.5384 25.5204 20.5384 25.0771V23.462C20.5384 22.9473 20.6497 22.8446 21.0216 22.8446C21.2956 22.8446 21.7653 22.978 22.8615 24.0084C24.1143 25.2297 24.3208 25.7776 25.0256 25.7776H26.8732C27.4009 25.7776 27.665 25.5202 27.5128 25.0126C27.3459 24.5064 26.7479 23.7721 25.9543 22.9019C25.5236 22.4058 24.8775 21.8714 24.6818 21.6042C24.4076 21.2608 24.4861 21.1082 24.6818 20.8027C24.6818 20.8027 26.9333 17.7115 27.168 16.662Z" fill="#337E88"/>
									<defs>
									<linearGradient id="paint0_linear_26_8" x1="20" y1="0" x2="20" y2="40" gradientUnits="userSpaceOnUse">
									<stop stop-color="#36838D" stop-opacity="0.68"/>
									<stop offset="1" stop-color="#D9D9D9" stop-opacity="0"/>
									</linearGradient>
									</defs>
									</svg>
								a(href="#").test__answer__soc__item
									<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
									<circle cx="20" cy="20" r="20" fill="url(#paint0_linear_4_4658)"/>
									<path d="M18.9722 23.5959C17.6613 23.4589 16.4788 23.1336 15.4668 22.3364C15.3409 22.2371 15.2108 22.1412 15.0969 22.0308C14.6534 21.6027 14.6089 21.1112 14.9599 20.606C15.2596 20.1728 15.7631 20.0572 16.2862 20.3063C16.3872 20.3534 16.4831 20.4142 16.5765 20.4784C18.4627 21.7833 21.0545 21.8193 22.9476 20.5375C23.136 20.392 23.3363 20.2738 23.5683 20.2139C24.0204 20.0974 24.4417 20.2644 24.684 20.6625C24.9614 21.1163 24.958 21.5616 24.6164 21.9135C24.0932 22.4555 23.463 22.8468 22.7635 23.1199C22.1016 23.3785 21.3764 23.5086 20.6598 23.5942C20.7677 23.7132 20.819 23.7715 20.8867 23.84C21.8602 24.8246 22.8388 25.8067 23.8098 26.7948C24.1403 27.1321 24.2097 27.5491 24.0273 27.9413C23.8278 28.3694 23.3825 28.6511 22.945 28.6211C22.6685 28.6014 22.4527 28.4627 22.26 28.2683C21.5254 27.5234 20.7771 26.7922 20.057 26.0336C19.8472 25.8127 19.7462 25.8546 19.5612 26.0464C18.8223 26.8128 18.0714 27.5671 17.3145 28.318C16.9755 28.6545 16.5713 28.7153 16.1775 28.5235C15.7596 28.318 15.4925 27.889 15.5139 27.4566C15.5276 27.1638 15.6706 26.9412 15.8701 26.7408C16.8342 25.7716 17.7949 24.7998 18.7564 23.8297C18.8198 23.7646 18.8797 23.6961 18.9722 23.5959Z" fill="#337E88"/>
									<path d="M19.7717 20.1769C17.4325 20.1684 15.5146 18.2162 15.5274 15.8565C15.5411 13.471 17.4607 11.5497 19.8231 11.5557C22.1896 11.5617 24.0896 13.5121 24.0785 15.9224C24.0656 18.277 22.1348 20.1847 19.7717 20.1769ZM21.8977 15.8616C21.8993 15.5859 21.8463 15.3125 21.7419 15.0573C21.6375 14.8021 21.4837 14.57 21.2893 14.3745C21.0949 14.1789 20.8638 14.0237 20.6093 13.9177C20.3547 13.8117 20.0817 13.7571 19.8059 13.757C19.5276 13.7567 19.252 13.8119 18.9952 13.9194C18.7385 14.0268 18.5057 14.1843 18.3105 14.3827C18.1152 14.5811 17.9615 14.8164 17.8583 15.0749C17.755 15.3334 17.7043 15.6098 17.7091 15.8881C17.7094 16.164 17.7643 16.4371 17.8706 16.6916C17.9768 16.9462 18.1324 17.1772 18.3284 17.3713C18.5243 17.5655 18.7567 17.719 19.0122 17.823C19.2677 17.927 19.5412 17.9795 19.8171 17.9773C20.0929 17.9763 20.3658 17.9207 20.62 17.8136C20.8743 17.7066 21.1047 17.5502 21.2982 17.3536C21.4916 17.1569 21.6442 16.9239 21.7471 16.668C21.85 16.4121 21.9012 16.1383 21.8977 15.8625V15.8616Z" fill="#337E88"/>
									<defs>
									<linearGradient id="paint0_linear_4_4658" x1="20" y1="0" x2="20" y2="40" gradientUnits="userSpaceOnUse">
									<stop stop-color="#36838D" stop-opacity="0.68"/>
									<stop offset="1" stop-color="#D9D9D9" stop-opacity="0"/>
									</linearGradient>
									</defs>
									</svg>
								a(href="#").test__answer__soc__item
					.test__answer.test__answer__3
							.test__answer__top
								.test__answer__top__title
									!="Ваш стиль — <span>СПОРТИ И ШИК<span>"		
							.test__answer__bottom
								picture.test__answer__picture
									source(media="(max-width: 800px)", srcset="img/test__answer__picture__3--mob.png")
									img(src="img/test__answer__picture__3.png", alt="picture")
								.test__answer__list
									.test__answer__top__title
										!="Ваш стиль — <span>СПОРТИ И ШИК<span>"								
									.test__answer__list__text
										!="«Золотое правило» стилистов и модных кампейнов Geox — не использовать больше двух спортивных элементов в одном образе. Например, если это футболка и бейсболка — подберите более строгую верхнюю одежду и классическую обувь, а если куртка и кроссовки — то пусть брюки будут из базового гардероба."
									.test__answer__list__text
										!="И не используйте «профильную» обувь. То есть кроссовки для бега, баскетбола и фитнеса носите строго по прямому назначению. Идеальный вариант — функциональные, но все же городские модели."
																
									.btn.test__answer__list__button  пройти тест снова
							.test__answer__soc
								a(href="#").test__answer__soc__item
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="url(#paint0_linear_26_8)"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M27.168 16.662C27.2855 16.2804 27.168 16 26.6094 16H24.7617C24.2919 16 24.0753 16.2422 23.958 16.5095C23.958 16.5095 23.0182 18.742 21.6872 20.1923C21.2567 20.6121 21.061 20.7458 20.8259 20.7458C20.7086 20.7458 20.5386 20.6121 20.5386 20.2307V16.662C20.5386 16.2042 20.4021 16 20.0107 16H17.1069C16.8134 16 16.6367 16.2126 16.6367 16.4142C16.6367 16.8483 17.3023 16.9485 17.3709 18.1698V20.8221C17.3709 21.4037 17.2632 21.5094 17.0283 21.5094C16.4021 21.5094 14.8783 19.2666 13.9746 16.7005C13.7974 16.2016 13.6199 16.0002 13.1478 16.0002H11.3001C10.7721 16 10.6666 16.2422 10.6666 16.5093C10.6666 16.9864 11.2928 19.3526 13.5831 22.4821C15.1099 24.6191 17.261 25.7778 19.2186 25.7778C20.3929 25.7778 20.5384 25.5204 20.5384 25.0771V23.462C20.5384 22.9473 20.6497 22.8446 21.0216 22.8446C21.2956 22.8446 21.7653 22.978 22.8615 24.0084C24.1143 25.2297 24.3208 25.7776 25.0256 25.7776H26.8732C27.4009 25.7776 27.665 25.5202 27.5128 25.0126C27.3459 24.5064 26.7479 23.7721 25.9543 22.9019C25.5236 22.4058 24.8775 21.8714 24.6818 21.6042C24.4076 21.2608 24.4861 21.1082 24.6818 20.8027C24.6818 20.8027 26.9333 17.7115 27.168 16.662Z" fill="#337E88"/>
									<defs>
									<linearGradient id="paint0_linear_26_8" x1="20" y1="0" x2="20" y2="40" gradientUnits="userSpaceOnUse">
									<stop stop-color="#36838D" stop-opacity="0.68"/>
									<stop offset="1" stop-color="#D9D9D9" stop-opacity="0"/>
									</linearGradient>
									</defs>
									</svg>
								a(href="#").test__answer__soc__item
									<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
									<circle cx="20" cy="20" r="20" fill="url(#paint0_linear_4_4658)"/>
									<path d="M18.9722 23.5959C17.6613 23.4589 16.4788 23.1336 15.4668 22.3364C15.3409 22.2371 15.2108 22.1412 15.0969 22.0308C14.6534 21.6027 14.6089 21.1112 14.9599 20.606C15.2596 20.1728 15.7631 20.0572 16.2862 20.3063C16.3872 20.3534 16.4831 20.4142 16.5765 20.4784C18.4627 21.7833 21.0545 21.8193 22.9476 20.5375C23.136 20.392 23.3363 20.2738 23.5683 20.2139C24.0204 20.0974 24.4417 20.2644 24.684 20.6625C24.9614 21.1163 24.958 21.5616 24.6164 21.9135C24.0932 22.4555 23.463 22.8468 22.7635 23.1199C22.1016 23.3785 21.3764 23.5086 20.6598 23.5942C20.7677 23.7132 20.819 23.7715 20.8867 23.84C21.8602 24.8246 22.8388 25.8067 23.8098 26.7948C24.1403 27.1321 24.2097 27.5491 24.0273 27.9413C23.8278 28.3694 23.3825 28.6511 22.945 28.6211C22.6685 28.6014 22.4527 28.4627 22.26 28.2683C21.5254 27.5234 20.7771 26.7922 20.057 26.0336C19.8472 25.8127 19.7462 25.8546 19.5612 26.0464C18.8223 26.8128 18.0714 27.5671 17.3145 28.318C16.9755 28.6545 16.5713 28.7153 16.1775 28.5235C15.7596 28.318 15.4925 27.889 15.5139 27.4566C15.5276 27.1638 15.6706 26.9412 15.8701 26.7408C16.8342 25.7716 17.7949 24.7998 18.7564 23.8297C18.8198 23.7646 18.8797 23.6961 18.9722 23.5959Z" fill="#337E88"/>
									<path d="M19.7717 20.1769C17.4325 20.1684 15.5146 18.2162 15.5274 15.8565C15.5411 13.471 17.4607 11.5497 19.8231 11.5557C22.1896 11.5617 24.0896 13.5121 24.0785 15.9224C24.0656 18.277 22.1348 20.1847 19.7717 20.1769ZM21.8977 15.8616C21.8993 15.5859 21.8463 15.3125 21.7419 15.0573C21.6375 14.8021 21.4837 14.57 21.2893 14.3745C21.0949 14.1789 20.8638 14.0237 20.6093 13.9177C20.3547 13.8117 20.0817 13.7571 19.8059 13.757C19.5276 13.7567 19.252 13.8119 18.9952 13.9194C18.7385 14.0268 18.5057 14.1843 18.3105 14.3827C18.1152 14.5811 17.9615 14.8164 17.8583 15.0749C17.755 15.3334 17.7043 15.6098 17.7091 15.8881C17.7094 16.164 17.7643 16.4371 17.8706 16.6916C17.9768 16.9462 18.1324 17.1772 18.3284 17.3713C18.5243 17.5655 18.7567 17.719 19.0122 17.823C19.2677 17.927 19.5412 17.9795 19.8171 17.9773C20.0929 17.9763 20.3658 17.9207 20.62 17.8136C20.8743 17.7066 21.1047 17.5502 21.2982 17.3536C21.4916 17.1569 21.6442 16.9239 21.7471 16.668C21.85 16.4121 21.9012 16.1383 21.8977 15.8625V15.8616Z" fill="#337E88"/>
									<defs>
									<linearGradient id="paint0_linear_4_4658" x1="20" y1="0" x2="20" y2="40" gradientUnits="userSpaceOnUse">
									<stop stop-color="#36838D" stop-opacity="0.68"/>
									<stop offset="1" stop-color="#D9D9D9" stop-opacity="0"/>
									</linearGradient>
									</defs>
									</svg>
								a(href="#").test__answer__soc__item

			//- .swiper-buttons
			//- 	.swiper-button-prev
			//- 	.swiper-button-next 









