.footer
	.footer__lists--row
		.footer__lists--string Реклама. ООО “Рекламодатель” Ⓒ2023. SMH


<div class="footer">
      <div class="footer__lists--row">
		<div class="footer__lists--string">
			<ul>
				<li><a href="#">Реклама</a></li>
				<li><a href="#">Рекламодатель</a></li>
				<li><a href="#">Токен</a></li>
			</ul>
		</div>
        <div class="footer__lists--string">
			Фотограф Денис Авраменко<br>
			Стилист Ольга Лосина <br>
			Визажист-стилист по волосам Елена Зубарева<br>
			Модель Анастасия Ушакова (Smart models)<br>
			Продюсер Ольга Дроздова <br>
			Текст Наталья Старостина <br>
			Дизайн Алексей Бордаков <br>
			Верстка Денис Осипов
		</div>
		<div class="footer__lists--string">
			<div class="social">
				<a href=""><svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.59283 17.9568C4.78277 17.7582 3.15005 17.2865 1.75259 16.1307C1.5788 15.9867 1.39909 15.8477 1.24185 15.6876C0.629433 15.0669 0.567954 14.3543 1.05269 13.6219C1.46648 12.9937 2.16166 12.8262 2.88403 13.1874C3.02354 13.2557 3.15596 13.3438 3.28482 13.4369C5.88938 15.3288 9.46813 15.3809 12.0821 13.5226C12.3422 13.3115 12.6189 13.1402 12.9393 13.0533C13.5635 12.8845 14.1452 13.1266 14.4798 13.7038C14.8629 14.3618 14.8581 15.0073 14.3864 15.5175C13.664 16.3033 12.7939 16.8706 11.828 17.2666C10.9141 17.6415 9.91266 17.8302 8.9231 17.9543C9.07206 18.1269 9.143 18.2113 9.2364 18.3106C10.5806 19.7382 11.932 21.1621 13.2727 22.5947C13.729 23.0838 13.8248 23.6883 13.573 24.2569C13.2975 24.8776 12.6827 25.286 12.0786 25.2425C11.6967 25.214 11.3988 25.0129 11.1328 24.7311C10.1184 23.6511 9.08507 22.5909 8.09078 21.4911C7.80112 21.1708 7.66161 21.2316 7.40624 21.5097C6.38593 22.6207 5.34908 23.7144 4.30395 24.8031C3.83577 25.2909 3.27773 25.3791 2.73388 25.101C2.15693 24.8031 1.78806 24.1811 1.81762 23.5542C1.83654 23.1297 2.03398 22.8069 2.30945 22.5164C3.64069 21.1112 4.9672 19.7022 6.2949 18.2957C6.38239 18.2014 6.46515 18.1021 6.59283 17.9568Z" fill="#FCFCFF"/>
<path d="M7.69657 12.9996C4.46659 12.9872 1.81829 10.1568 1.83603 6.73552C1.85494 3.27701 4.5056 0.491331 7.7675 0.50002C11.0353 0.50871 13.6588 3.33659 13.6434 6.83111C13.6257 10.2449 10.9596 13.0107 7.69657 12.9996ZM10.6322 6.74297C10.6343 6.34319 10.5612 5.9469 10.4171 5.57687C10.2729 5.20685 10.0605 4.87039 9.79214 4.58683C9.52373 4.30328 9.2046 4.07822 8.85309 3.92459C8.50157 3.77096 8.12461 3.69179 7.74386 3.69163C7.35953 3.69124 6.97897 3.77127 6.62442 3.92703C6.26987 4.08279 5.94844 4.31116 5.67888 4.59882C5.40933 4.88647 5.19706 5.22764 5.05448 5.60239C4.9119 5.97714 4.84187 6.37796 4.84846 6.78145C4.84892 7.18139 4.92471 7.57729 5.07147 7.94635C5.21824 8.31541 5.43307 8.65035 5.70361 8.93187C5.97415 9.2134 6.29505 9.43596 6.64784 9.58675C7.00063 9.73753 7.37834 9.81355 7.75923 9.81044C8.14011 9.809 8.51695 9.72834 8.86798 9.57312C9.219 9.4179 9.53727 9.1912 9.80439 8.90611C10.0715 8.62101 10.2822 8.28318 10.4243 7.91212C10.5663 7.54105 10.637 7.14411 10.6322 6.74421V6.74297Z" fill="#FCFCFF"/>
</svg>
</a>
				<a href=""><svg width="25" height="15" viewBox="0 0 25 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M23.9431 1.5097C24.1075 0.982308 23.9431 0.594727 23.1608 0.594727H20.5736C19.9157 0.594727 19.6124 0.929467 19.4482 1.29885C19.4482 1.29885 18.1323 4.38433 16.2685 6.38873C15.6657 6.96896 15.3917 7.15377 15.0624 7.15377C14.8982 7.15377 14.6601 6.96896 14.6601 6.44182V1.5097C14.6601 0.87688 14.4691 0.594727 13.921 0.594727H9.85497C9.44401 0.594727 9.19648 0.88851 9.19648 1.16712C9.19648 1.76708 10.1285 1.90563 10.2247 3.59349V7.2592C10.2247 8.06293 10.0739 8.20907 9.74487 8.20907C8.86803 8.20907 6.73439 5.10943 5.46891 1.56279C5.22087 0.87334 4.97229 0.594979 4.31118 0.594979H1.724C0.984587 0.594726 0.836914 0.929467 0.836914 1.29859C0.836914 1.95796 1.71376 5.22826 4.92079 9.55334C7.05864 12.5068 10.0707 14.1082 12.8119 14.1082C14.4562 14.1082 14.6599 13.7525 14.6599 13.1399V10.9077C14.6599 10.1963 14.8157 10.0544 15.3365 10.0544C15.7201 10.0544 16.3778 10.2387 17.9129 11.6629C19.6671 13.3508 19.9561 14.108 20.9431 14.108H23.5302C24.2691 14.108 24.6389 13.7523 24.4257 13.0507C24.1922 12.3511 23.3547 11.3363 22.2435 10.1336C21.6405 9.44791 20.7358 8.70941 20.4617 8.34003C20.0778 7.86548 20.1876 7.65462 20.4617 7.2324C20.4617 7.2324 23.6143 2.96016 23.9431 1.5097Z" fill="#FCFCFF"/>
</svg>
</a>
				<a href=""><svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.39076 8.28325C1.39076 8.28325 10.057 4.23402 13.0626 2.80819C14.2148 2.2379 18.122 0.41283 18.122 0.41283C18.122 0.41283 19.9255 -0.385571 19.7751 1.55348C19.725 2.35196 19.3243 5.14648 18.9236 8.1692C18.3224 12.4466 17.6712 17.1232 17.6712 17.1232C17.6712 17.1232 17.571 18.435 16.7194 18.6631C15.8679 18.8912 14.4652 17.8647 14.2148 17.6365C14.0143 17.4655 10.4577 14.899 9.15528 13.6443C8.80461 13.3021 8.40389 12.6177 9.20534 11.8193C11.0087 9.9372 13.1628 7.59891 14.4652 6.11609C15.0663 5.43167 15.6674 3.83478 13.1628 5.77384C9.60613 8.56844 6.09957 11.1919 6.09957 11.1919C6.09957 11.1919 5.29805 11.7622 3.79526 11.2489C2.2924 10.7357 0.539117 10.0513 0.539117 10.0513C0.539117 10.0513 -0.663061 9.19579 1.39076 8.28325Z" fill="#FCFCFF"/>
</svg>
</a>
			</div>
		</div>
      </div>
    </div>